@import "colors";

#particles-js {
  height: 100%;
}

.particles-js-canvas-el {
  width: 100vw;
  height: 100vh !important;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $dark-gray;
}

#intro {
  /* Display */
  height: 100vh;
  width: 58vw;
  z-index: 100;
  margin: auto;
  /* Layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  text-align: center;
  font-family: 'Inconsolata', monospace;
}

#portfolio-arrow {
  height: 1.7vw;
  vertical-align: middle;
}

#landing-header {
  color: $white;
  font-size: 7vw;
  min-height: 15vw;
  margin: 0px;
  padding: 0px;
  font-weight: bold;
}

#portfolio-button-container { 
  text-align: center;
  padding: 1vw;
}

#portfolio-button {
  /* Display */
  border: 2px solid $white;
  border-radius: 5px;
  margin: 10px;
  padding: .7vw;
  /* Layout */
  display: inline-block;
  /* Content */
  color: $white;
  font-weight: bold;
  font-size: 1.7vw;
}


@media (max-width: 1000px) {
  #portfolio-button,
  #portfolio-arrow {
    font-size: 1.5rem;
  }
}

@media (max-width: 600px) {
  #intro {
    padding: 0px;
    width: 95vw;
  }

  #landing-header {
    font-size: 5vh;
    min-height: 11vw;
  }

  #portfolio-button-container {
    padding: 2vh;
  }

  #portfolio-button {
    font-size: 2vh;
    padding: .8vh;
  }
}
