@import "colors";

#about-me-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}

#selfie {
  height: 35rem;
  border-radius: 4px;
  margin-bottom: -60px;
}

#selfie-container {
  background-color: $faded-purple;
  border-radius: 4px;
  padding: 35px;
  margin-bottom: 35px;
}

#bio { 
  text-align: center;
  padding: 50px;
  font-size: 1.4rem;

  p {
    text-align: right;
    margin-bottom: 20px;
  }
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.programming-language {
  /* Display */
  height: 130px;
  width: 130px;
  border-radius: 50%;
  transition: background-color .6s;
  /* Layout */
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Content */
  background-color: $lavender;
  color: $white;
  font-weight: bold;
  font-size: 1.5rem;
}

.programming-language:hover {
  background-color: $header-purple;
}

.programming-language:after {
  content: attr(data-language);
}

.programming-language:hover:after {
  content: attr(data-years);
}

@media (max-width: 800px) {
  #about-me-content {
    flex-direction: column;
    align-items: center;
  }

  #selfie-container {
    max-width: 600px;
  }

  #bio {
    padding: 0px;

    p {
      text-align: center;
    }
  }
}
