@media (max-width: 600px) {
  #intro {
    padding: 0px;
  }

  #intro-text {
    width: 95vw;
  }

  .big-header-main {
    font-size: 5vh;
    height: 10vh;
  }

  #portfolio-button-container {
    padding: 2vh;
  }

  #portfolio-button {
    font-size: 2vh;
    padding: .8vh;
  }
}

@media (max-width: 600px) {
  #intro {
    padding: 0px;
  }

  #intro-text {
    width: 95vw;
  }

  .big-header-main {
    font-size: 5vh;
    height: 10vh;
  }

  #portfolio-button-container {
    padding: 2vh;
  }

  #portfolio-button {
    font-size: 2vh;
    padding: .8vh;
  }
}
