@import "colors";

#navbar {
  /* Display */
  height: 4rem;
  padding: 20px;
  width: 100%;
  z-index: 100;
  top: 0;
  /* Layout */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  position: sticky;
  /* Content */
  background-color: $dark-gray;
}

#nav-name {
  color: $white;
  font-size: 1.3rem;
  margin: 0px 10px;
}

#nav-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-item {
  color: $lavender;
  font-size: 1.25rem;
  font-family: 'Inconsolata', monospace;
  margin: 0px 20px;
}

#resume-button {
  /* Display */
  border: 1.5px solid $white;
  border-radius: 5px;
  padding: 10px;
  margin: 0px;
  /* Layout */
  display: inline-block;
  /* Content */
  color: $white;
  font-weight: bold;
  font-size: 1.1rem;
}

#resume-button:hover {
  background-color: $white;
  color: $dark-gray;
}
