html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

button {
  background: none;
  border: none;
}

p {
  color: #171e22;
  text-align: left;
  padding: 10px;
}

section {
  padding: 50px;
}

a:link {
  text-decoration: none;
  vertical-align: middle;
}

a:hover {
  color: white;
}

.section-header {
  /* Display */
  padding: 10px;
  margin: 20px auto;
  width: fit-content;
  /* Layout */
  position: relative;
  /* Content */
  color: #673ab7;
  font-size: 3rem;
  font-weight: bold;
  /* Horizontal lines by section header */
}
.section-header span:before,
.section-header span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-top: 1px solid #673ab7;
  top: 50%;
  width: 50%;
}
.section-header span:before {
  right: 100%;
  margin-right: 15px;
}
.section-header span:after {
  left: 100%;
  margin-left: 15px;
}

.section-content {
  padding: 20px;
  max-width: 1100px;
  margin: auto;
}

.white-background {
  background-color: white;
}

.gray-background {
  background-color: #fafafa;
  box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.25);
}

@media (max-width: 600px) {
  section {
    padding: 10px;
  }

  .section-header {
    border-bottom: 1px solid #673ab7;
  }
  .section-header span:before {
    right: 0%;
    border: none;
  }
  .section-header span:after {
    left: 0%;
    border: none;
  }
}
#navbar {
  /* Display */
  height: 4rem;
  padding: 20px;
  width: 100%;
  z-index: 100;
  top: 0;
  /* Layout */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  position: sticky;
  /* Content */
  background-color: #171e22;
}

#nav-name {
  color: white;
  font-size: 1.3rem;
  margin: 0px 10px;
}

#nav-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-item {
  color: #b39ddb;
  font-size: 1.25rem;
  font-family: "Inconsolata", monospace;
  margin: 0px 20px;
}

#resume-button {
  /* Display */
  border: 1.5px solid white;
  border-radius: 5px;
  padding: 10px;
  margin: 0px;
  /* Layout */
  display: inline-block;
  /* Content */
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
}

#resume-button:hover {
  background-color: white;
  color: #171e22;
}

#menu-icon {
  height: 1.25rem;
  width: 1.25rem;
  margin-left: 20px;
  display: none;
}

@media (max-width: 800px) {
  .nav-item, #resume-button {
    display: none;
  }

  #menu-icon {
    display: block;
  }
}
.particles-js-canvas-el {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #171e22;
}

#intro {
  /* Display */
  height: 100vh;
  width: 58vw;
  z-index: 100;
  margin: auto;
  /* Layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  text-align: center;
  font-family: "Inconsolata", monospace;
}

#portfolio-arrow {
  height: 1.8vw;
  vertical-align: middle;
}

#landing-header {
  color: white;
  font-size: 7vw;
  margin: 0px;
  padding: 0px;
  font-weight: bold;
}

#portfolio-button-container {
  text-align: center;
  padding: 1vw;
}

#portfolio-button {
  /* Display */
  border: 2px solid white;
  border-radius: 5px;
  margin: 10px;
  padding: 0.7vw;
  /* Layout */
  display: inline-block;
  /* Content */
  color: white;
  font-weight: bold;
  font-size: 1.7vw;
}

@media (max-width: 600px) {
  #intro {
    padding: 0px;
    width: 95vw;
  }

  #landing-header {
    font-size: 5vh;
    height: 10vh;
  }

  #portfolio-button-container {
    padding: 2vh;
  }

  #portfolio-button {
    font-size: 2vh;
    padding: 0.8vh;
  }
}
@media (max-width: 600px) {
  #intro {
    padding: 0px;
    width: 95vw;
  }

  #landing-header {
    font-size: 5vh;
    height: 10vh;
  }

  #portfolio-button-container {
    padding: 2vh;
  }

  #portfolio-button {
    font-size: 2vh;
    padding: 0.8vh;
  }
}
#about-me-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}

#selfie {
  height: 35rem;
  border-radius: 4px;
  margin-bottom: -60px;
}

#selfie-container {
  background-color: #574385;
  border-radius: 4px;
  padding: 35px;
  margin-bottom: 35px;
}

#bio {
  text-align: center;
  padding: 50px;
  font-size: 1.4rem;
}
#bio p {
  text-align: right;
  margin-bottom: 20px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.programming-language {
  /* Display */
  height: 130px;
  width: 130px;
  border-radius: 50%;
  transition: background-color 0.6s;
  /* Layout */
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Content */
  background-color: #b39ddb;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}

.programming-language:hover {
  background-color: #673ab7;
}

.programming-language:after {
  content: attr(data-language);
}

.programming-language:hover:after {
  content: attr(data-years);
}

@media (max-width: 1100px) {
  #about-me-content {
    flex-direction: column;
    align-items: center;
  }

  #selfie-container {
    max-width: 600px;
  }

  #bio {
    padding: 0px;
  }
  #bio p {
    text-align: center;
  }
}
#work-section {
  overflow: hidden;
}

.section-content.work {
  max-width: 900px;
}

.workplace {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.workplace:not(.last) {
  margin-bottom: 100px;
}

.work-info {
  width: 50%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.work-logo {
  height: 20rem;
}

.align-right, .align-right p {
  text-align: right;
}

.work-title {
  font-size: 2.5rem;
  margin: 10px 0px;
}

.work-details {
  font-size: 1.3rem;
  color: #171e22;
}

.work-description {
  padding: 0px;
  font-size: 1.1rem;
}

/* MEDIA QUERIES */
@media (max-width: 800px) {
  .workplace {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #uf-work, #medtronic-work {
    flex-direction: column-reverse;
  }

  .align-right, .align-right p {
    text-align: center;
  }

  .work-info, .work-description {
    align-items: center;
    text-align: center;
    width: 90%;
  }

  .work-logo {
    max-width: 400px;
  }
}
@media (max-width: 600px) {
  .work-logo {
    max-width: 250px;
    max-height: 250px;
  }

  .work-info, .work-description {
    width: 100%;
  }
}
.footer {
  background-color: #171e22;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}

.footer-icon {
  height: 40px;
  width: 40px;
  margin: 7px 40px;
}
